---
auth:
  db:
    puppet: frxEEI6nmtN9uylievHeVzdMDQJFdkMb
    foreman: lvS2pGSK6AdUm5KyVqGCASvC22kdMsfB
  foreman:
    admin: vthnOnp2NT6Rb1Z7VXaZnNmg8SqoseU8
hostname: mother.lab.prz
foreman:
  hostname: foreman.lab.prz
puppet:
  master:
    hostname: puppet.lab.prz
    modules:
      - puppetlabs-stdlib
      - puppetlabs-concat
      - puppetlabs-reboot
      - puppetlabs-vcsrepo
      - puppetlabs-firewall
      - puppetlabs-apt
      - puppetlabs-mysql
      - puppetlabs-apache
      - puppetlabs-inifile
      - puppetlabs-lvm
      - puppetlabs-stdlib
      - puppetlabs-rabbitmq
      - puppetlabs-vswitch
      - puppetlabs-xinetd
      - saz-memcached
      - saz-ssh
      - elasticsearch-logstashforwarder
      - dalen-puppetdbquery
      - example42-network
      - prozeta-portauthority
      - inkblot-ipcalc
      - duritong-sysctl
      - jhoblitt-ipmi
  ca:
    hostname: puppetca.lab.prz
dhcp:
  key:
dns:
  key:
  forwarders:
    - 8.8.8.8
    - 8.8.4.4
  forward_zones:
    - forwarders:
        - 172.17.0.10
        - 172.17.1.10
      zones:
        - prz
        - 172.in-addr.arpa
    - forwarders:
        - 10.4.0.252
      zones:
        - blu
        - 0.4.10.in-addr.arpa
